<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

	<resultMap type="board" id="boardSelectMap">
		<result property="boardNo" column="board_no" jdbcType="INTEGER" />
		<result property="nickname" column="nickname" jdbcType="VARCHAR" />
		<result property="boardTitle" column="board_title" jdbcType="VARCHAR" />
		<result property="boardContent" column="board_cont" jdbcType="VARCHAR" />
		<result property="boardCategory" column="board_cat" jdbcType="INTEGER" />
		<result property="boardDate" column="board_date" jdbcType="DATE" />
		<result property="boardCount" column="board_cnt" jdbcType="INTEGER" />
		<result property="boardImgPath" column="board_img_path" jdbcType="VARCHAR" />
	</resultMap>



	<sql id="getJoinQuery">
		SELECT
		b.board_no, b.board_title, b.board_cont, b.board_cat,
		b.board_date , b.board_cnt,
		b.nickname bnick,
		u.nickname unick
		from
		boards b, users u
		WHERE b.nickname = u.nickname
	</sql>


	<sql id="searchBoard">
		<include refid="getJoinQuery" />

		<if test="#{nickname}!=null">
			AND b.nickname = #{nickname}
		</if>

		<if test="searchCondition != null">
			<where>
				<if test="searchCondition 
			== 0 and searchKeyword !='' "> rcp_no like '%${searchKeyword}%' </if>
				<if test="searchCondition == 1 and searchKeyword !='' "> nickname in #{searchKeyword}
				</if>
				<if test="searchCondition == 3 and searchKeyword !='' "> rcp_title
					like '%${searchKeyword}%' </if>
			</where>
		</if>

		ORDER BY b.board_no
	</sql>


	<select id="getBoardList" parameterType="java.util.Map"
		resultMap="boardSelectMap">
		SELECT
		inner.*
		FROM(
		SELECT
		inner_table.*, ROWNUM AS row_seq FROM
		(
		<include refid="searchBoard" />
		)
		inner_table WHERE
		ROWNUM &lt; = #{search.endRowNum} ) inner
		WHERE
		row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	</select>

	<!-- ##쿼리 예제## select inner.* from( select inner_table.*, rownum as row_seq 
		from ( SELECT b.board_no, b.board_title, b.board_cont, b.board_cat, b.board_date 
		, b.board_cnt, b.nickname bnick, u.nickname unick from boards b, users u 
		WHERE b.nickname = u.nickname AND b.nickname = 'user01' ORDER BY b.board_no 
		) inner_table where rownum <= '10' ) inner where row_seq between '1' and 
		'10'; -->



	<insert id="insertBoard" parameterType="board">
		INSERT
		INTO
		Boards(board_no, nickname, board_title, board_cont, board_cat,
		board_date, board_cnt,board_img_path) 
		VALUES(seq_boards_no.nextval,
		#{nickname},
		#{boardTitle},
		#{boardContent},
		#{boardCategory},
		SYSDATE,
		0,
		#{boardImgPath:VARCHAR})
	</insert>

	<select id="getBoard" parameterType="int" resultMap="boardSelectMap">
		SELECT
		board_no, nickname,board_title, board_cont, board_cat,
		board_date , board_cnt, board_img_path
		FROM boards
		WHERE board_no = #{value}
		ORDER BY board_no
	</select>

	<update id="updateBoard" parameterType="board">
		UPDATE boards
		<set>
			board_title = #{boardTitle},
			board_cont = #{boardContent},
			board_cat = #{boardCategory}
		</set>
		WHERE board_no = #{boardNo}
	</update>
	
	<update id="updateBoardCount" parameterType="String">
		UPDATE boards
		<set>
			BOARD_CNT=BOARD_CNT+1
		</set>
		WHERE board_no = #{value}
	</update>

	<delete id="deleteBoard" parameterType="int">
		DELETE FROM boards 
		WHERE board_no=${value}
	</delete>

	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM( SELECT *
		FROM boards
		<!-- <if test="searchCondition != null"> <where> <if test="searchCondition 
			== 0 and searchKeyword !='' "> rcp_no like '%${searchKeyword}%' </if> <if 
			test="searchCondition ==W 1 and searchKeyword !='' "> nickname in #{searchKeyword} 
			</if> <if test="searchCondition == 3 and searchKeyword !='' "> rcp_title 
			like '%${searchKeyword}%' </if> </where> </if> -->
		) countTable
	</select>

</mapper>