<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

	<resultMap type="board" id="boardSelectMap">
		<result property="boardNo" column="board_no" jdbcType="INTEGER" />
<!-- 		<result property="nickname" column="nickname" jdbcType="VARCHAR" /> -->
		<result property="boardTitle" column="board_title" jdbcType="VARCHAR" />
		<result property="boardContent" column="board_cont" jdbcType="VARCHAR"/>
		<result property="boardCategory" column="board_cat" jdbcType="INTEGER" />
		<result property="boardDate" column="board_date" jdbcType="DATE" />
		<result property="boardCount" column="board_cnt" jdbcType="INTEGER" />
	
	   <association property="nickname" javaType="string">
	    <result property="nickname" column="nickname" jdbcType="VARCHAR" />
<!--         <result property="email" column="email" jdbcType="VARCHAR" /> -->
<!--         <result property="password" column="password" jdbcType="VARCHAR" /> -->
<!--         <result property="userImage" column="user_img" jdbcType="VARCHAR" /> -->
<!--         <result property="joinDate" column="join_date" jdbcType="DATE" /> -->
       </association>
	
	</resultMap>
	
	
	
	<sql id="getJoinQuery">
	   SELECT
	   b.board_no, b.board_title, b.board_cont, b.board_cat, b.board_date , b.board_cnt, b.nickname bnick,
	   u.nickname unick
	   from boards b, users u
	   WHERE b.nickname = u.nickname
	</sql>


	<sql id="getBoard">
		<include refid="getJoinQuery" />

			<if test="#{nickname}!=null">
				AND b.nickname = #{nickname}
			</if>

		<!-- <if test="searchCondition != null">
			<where>
				<if test="searchCondition == 0 and searchKeyword !='' ">
					rcp_no like '%${searchKeyword}%'
				</if>
				<if test="searchCondition ==W 1 and searchKeyword !='' ">
					nickname in #{searchKeyword}
				</if>
				<if test="searchCondition == 3 and searchKeyword !='' ">
					rcp_title like '%${searchKeyword}%'
				</if>
			</where>
		</if> -->

		ORDER BY b.board_no
	</sql>

	   
	   <select id ="getBoardList" parameterType="java.util.Map" resultMap="boardSelectMap">
	   SELECT
	   inner.*
	   FROM(
	   SELECT
	   inner_table.*, ROWNUM AS row_seq FROM
	   ( <include refid="getBoard"/> )
	   inner_table WHERE
	   ROWNUM &lt; = #{search.endRowNum} ) inner
	   WHERE 
	   row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	   </select>
	   
<!-- ##쿼리 예제## 
select inner.* from(
select inner_table.*, rownum as row_seq from ( SELECT
       b.board_no, b.board_title, b.board_cont, b.board_cat, b.board_date , b.board_cnt, b.nickname bnick,
       u.nickname unick
       from boards b, users u WHERE b.nickname = u.nickname AND b.nickname = 'user01' ORDER BY b.board_no ) inner_table where rownum <= '10'
) inner
where
row_seq between '1' and '10'; -->
	   
	   

	<insert id="insertBoard" parameterType="board">
		INSERT
		INTO
		Boards(board_no, nickname, board_title, board_cont, board_cat,  board_date, board_cnt)
		VALUES(seq_boards_no.CURRVAL,
		#{nickname},
		#{boardTitle},
		#{boardContent},
		#{boardCategory},
		SYSDATE,
		#{boardCount})
	</insert>

    <select id="getBoard" parameterType="int" resultMap="boardSelectMap">
        <include refid="getJoinQuery" />
         AND b.board_no = #{value}
         ORDER BY p.prod_no
    </select>

	<update id="updateBoard" parameterType="board">
	   UPDATE board
		<set>
			board_title = #{boardTitle},
			board_cont = #{boardContent},
			board_cat = #{boardCategory},
			board_date = SYSDATE
		</set>
		WHERE board_no = #{boardNo}
	</update>

	<delete id="deleteBoard" parameterType="int">
		DELETE FROM (
		  select * from users u, boards b, baords_img bimg, boards_cmt bcmt, comments cmts
		  where b.nickname = u.nickname and b.board_no = bimg.board_no
		  and b.board_no = bcmt.board_no and bcmt.cmt_no = cmts.cmt_no )
		
		WHERE
		board_no = #{value}
	</delete>

   <select id="getTotalCount" parameterType="String"
      resultType="int">
      SELECT COUNT(*)
      FROM( SELECT *
      FROM boards
         WHERE nickname = #{nickname}
      ) countTable
   </select>

    <select id="getBoardImgList" parameterType="int" resultType="string">
        select * from
            baords_img
                where board_no = #{value}
    </select>
    
</mapper>