<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

	<resultMap type="comment" id="commentMap">
		<result property="commentNo" column="CMT_NO" jdbcType="INTEGER" />
		<result property="commentReNo" column="CMT_NO2" jdbcType="INTEGER" />
		<result property="nickname" column="NICKNAME" jdbcType="VARCHAR" />
		<result property="commentContent" column="CMT_CONT" jdbcType="VARCHAR" />
		<result property="commentDate" column="CMT_DATE" jdbcType="DATE" />
		<result property="userImg" column="USER_IMG" jdbcType="VARCHAR" />
		<result property="contentNo" column="CONTENT_NO" jdbcType="INTEGER" />
	</resultMap>

	<insert id="insertBoardComment" parameterType="">
		INSERT ALL
		INTO
		comments
		VALUES(seq_cmt_no.NEXTVAL,NICKNAME, CMT_NO2,
		CMT_CONT,CMT_DATE)
		INTO boards_cmt VALUES(seq_cmt_no.currVal,board_no)
		SELECT #{nickname} AS NICKNAME , #{commentReNo:VARCHAR} AS CMT_NO2,
		#{commentContent} AS CMT_CONT ,SYSDATE AS
		CMT_DATE,#{contentNo} AS
		board_no
		FROM DUAL;
	</insert>

	<select id="getBoardCommentList" parameterType="int" resultMap="commentMap">
		SELECT
		c.CMT_NO ,c.CMT_NO2,c.NICKNAME,c.CMT_CONT,c.CMT_DATE,u.USER_IMG
		FROM comments c,baords_cmt bc,users u
		WHERE bc.board_no=#{value} AND
		bc.cmt_no=c.cmt_no
		AND u.nickname LIKE c.nickname
	</select>

	<update id="updateBoardComment" parameterType="comment">
		UPDATE comments
		<set>
			CMT_CONT = #{commentContent}
		</set>
		WHERE cmt_no = #{commentNo}
	</update>



	<delete id="removeComment" parameterType="int">
		DELETE
		FROM comments
		WHERE cmt_no2=#{value} OR cmt_no=#{value}
	</delete>

	<delete id="removeBoardsCmt" parameterType="int">
		DELETE
		FROM boards_cmt
		WHERE cmt_no=#{value}
	</delete>

	<select id="getBoardsCmtCmtNo" parameterType="int">
		SELECT cmt_no
		FROM
		boards_cmt
		WHERE board_no=#{value}
	</select>

	<delete id="removeBoardsCmtList" parameterType="int">
		DELETE
		FROM
		boards_cmt
		WHERE borad_no=#{value}
	</delete>

	<delete id="removeBoardCommentList" parameterType="list">
		DELETE
		FROM
		comments
		WHERE
		cmt_no IN
		<if test="list.size != 0">
			<foreach item="item"  collection="list" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
	</delete>


</mapper>
