<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FavoriteMapper">

	<resultMap type="favorite" id="FavoriteSelectMap">
		<result property="recipeNo" column="rcp_no" jdbcType="INTEGER" />
		<result property="nickname" column="nickname" jdbcType="VARCHAR" />
		<result property="favorTitle" column="fav_title" jdbcType="VARCHAR" />
		<result property="favorDate" column="fav_date" jdbcType="DATE" />
	</resultMap>

	<insert id="insertFavorite" parameterType="favorite">
        INSERT INTO FAV_RECIPES(RCP_NO,NICKNAME
        ,FAV_TITLE,FAV_DATE)
        values(#{recipeNo},#{nickname},
        #{favorTitle},SYSDATE)
    </insert>

	<sql id="searchFavorite" >
        SELECT
        f.rcp_no rcp_no, f.nickname nickname, f.fav_title fav_title,
        to_char(f.fav_date,'YYYY/MM/DD') fav_date
        FROM fav_recipes f, recipes r, users u
        
        WHERE
        f.rcp_no = r.rcp_no AND f.nickname = u.nickame AND f.nickname = #{nickname}
        ORDER BY fav_date
    </sql>

	<select id="getFavoriteList" parameterType="java.util.Map"
        resultMap="FavoriteSelectMap">
        SELECT
        inner.*
        FROM(
        SELECT
        inner_table.*, ROWNUM AS row_seq FROM
        (
        <include refid="searchFavorite" />
        )
        inner_table
        WHERE ROWNUM &lt;= #{endRowNum} ) inner
    WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
    </select> 
    
    <delete id="deleteFavorite" parameterType="favorite">
        DELETE FROM fav_recipes
        WHERE nickname = #{nickname} AND rcp_no = #{recipeNo}
    </delete>

    <select id="getTotalCount" parameterType="user" resultType="int">
        SELECT COUNT(*)
        FROM ( SELECT *
        FROM fav_recipes
         <where> 
         <if test="nickname != null">
            nickname = #{nickname} 
         </if>
         </where> 
        ) countTable
    </select>

</mapper>