<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RecipeMapper">

	<resultMap type="com.rcipe.service.domain.Recipe" id="RecipeSelectMap">
		<result property="recipeNo" column="rcp_no" jdbcType="INTEGER" />
		<result property="nickname" column="nickname" jdbcType="VARCHAR" />
		<result property="recipeTitle" column="rcp_title" jdbcType="VARCHAR" />
		<result property="titleImage" column="rcp_img_path" jdbcType="VARCHAR" />
		<result property="recipeContents" column="rcp_cont" jdbcType="CLOB" />
		<result property="tip" column="rcp_tip" jdbcType="CLOB" />
		<result property="recommend" column="rcp_rec_cnt" jdbcType="INTEGER" />
		<result property="hit" column="rcp_cnt" jdbcType="INTEGER" />
		<result property="ingredients" column="ingredients" jdbcType="CLOB" />
		<result property="recipeDate" column="rcp_date" jdbcType="DATE" />
		<result property="star" column="star_cnt" jdbcType="INTEGER" />
		<result property="starHit" column="star_tot_cnt" jdbcType="INTEGER" />
	</resultMap>
	<resultMap type="ingredient" id="ingredientSelectMap">
		<result property="recipeNo" column="RCP_NO" jdbcType="INTEGER" />
		<result property="ingredientNo" column="INGREDIENT_NO"
			jdbcType="INTEGER" />
		<result property="ingredientName" column="INGREDIENT_NAME"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="getIngredientList" parameterType="String"
		resultMap="ingredientSelectMap">
		SELECT INGREDIENT_NO,INGREDIENT_NAME
		FROM INGREDIENTS
		WHERE
		INGREDIENT_NAME LIKE '%${value}%'
	</select>

	<select id="getIngredient" parameterType="String" resultType="String">
		SELECT INGREDIENT_NAME
		FROM INGREDIENTS
		WHERE INGREDIENT_NAME LIKE
		#{value}
	</select>

	<insert id="insertIngredient" parameterType="list">
		INSERT INTO
		INGREDIENTS(INGREDIENT_NO,INGREDIENT_NAME)
		values(SEQ_INGREDIENT_NO.nextval,#{value})
	</insert>
	<update id="updateRecipe" parameterType="recipe">
		UPDATE recipes
		SET
		rcp_title=#{recipeTitle} ,
		rcp_img_path=#{titleImage} ,
		rcp_cont=#{recipeContents},
		rcp_tip=#{tip},
		ingredients=#{ingredients}
		WHERE rcp_no=#{recipeNo}
	</update>

	<insert id="insertRecipe" parameterType="recipe">
		<selectKey resultType="int" keyProperty="recipeNo" order="BEFORE">
			select SEQ_RECIPES_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO RECIPES(RCP_NO,NICKNAME
		,RCP_TITLE,RCP_IMG_PATH,RCP_CONT
		,RCP_TIP,RCP_CNT
		,INGREDIENTS,RCP_DATE)

		values(#{recipeNo},#{nickname},
		#{recipeTitle},#{titleImage}
		,#{recipeContents},#{tip},0
		,#{ingredients},SYSDATE)
	</insert>
	<select id="selectStar" parameterType="recipe" resultMap="RecipeSelectMap">
		SELECT
		star_cnt ,rcp_no,nickname
		FROM stars
		WHERE rcp_no=#{recipeNo} AND
		nickname LIKE #{nickname}
	</select>

	<insert id="insertStar" parameterType="recipe">
		INSERT INTO
		stars(RCP_NO,NICKNAME,star_cnt)
		values(#{recipeNo},#{nickname},#{star})
	</insert>

	<update id="updateStar" parameterType="recipe">
		UPDATE stars
		set
		star_cnt=#{star}
		WHERE rcp_no=#{recipeNo} AND nickname LIKE #{nickname}
	</update>

	<insert id="insertRcpIng" parameterType="ingredient">
		INSERT INTO
		RCP_ING(
		INGREDIENT_NO , RCP_NO )
		values
		( #{ingredientNo} , #{recipeNo} )
	</insert>

	<select id="getRecipe" parameterType="int" resultMap="RecipeSelectMap">
		SELECT
		r.rcp_no rcp_no, r.nickname nickname, r.rcp_title rcp_title,
		r.rcp_img_path rcp_img_path, r.rcp_cont rcp_cont,
		r.rcp_tip rcp_tip,
		r.rcp_cnt rcp_cnt,
		r.ingredients ingredients, to_char(
		r.rcp_date,'YYYY/MM/DD')
		rcp_date,
		s.star_tot_cnt star_tot_cnt,
		s.star_cnt star_cnt
		FROM recipes
		r,(SELECT
		COUNT(*)
		star_tot_cnt,SUM(STAR_CNT)
		star_cnt FROM stars
		WHERE rcp_no=#{value}) s
		WHERE r.rcp_no
		= #{value}
	</select>

	<delete id="deleteRecipe" parameterType="int">
		DELETE FROM recipes
		WHERE rcp_no=${value}
	</delete>

	<delete id="deleteDetailRcp" parameterType="int">
		DELETE FROM
		detail_rcp
		WHERE rcp_no=${value}
	</delete>

	<delete id="deleteRcpIng" parameterType="int">
		DELETE FROM rcp_ing
		WHERE rcp_no=#{value}
	</delete>

	<delete id="deleteStars" parameterType="int">
		DELETE FROM stars
		WHERE
		rcp_no=${value}
	</delete>

	<select id="getRecipeList" parameterType="search" resultMap="RecipeSelectMap">
		SELECT
		inner.rcp_no, inner.nickname, inner.rcp_title, inner.rcp_img_path,
		inner.rcp_cnt ,innerR.rcp_cont
		FROM(
		SELECT
		inner_table.rcp_no, inner_table.nickname, inner_table.rcp_title, inner_table.rcp_img_path,
		inner_table.rcp_cnt, ROWNUM AS row_seq FROM
		(
		SELECT DISTINCT
		re.rcp_no, re.nickname, re.rcp_title, re.rcp_img_path,
		re.rcp_cnt, re.rcp_date
		FROM
		recipes re,
		(SELECT 
		rc.RCP_NO iRcpNo,
		i.INGREDIENT_NAME ingName
		FROM
		ingredients i,
		rcp_ing rc
		WHERE i.INGREDIENT_NO =
		rc.INGREDIENT_NO )ingre
		<if test="searchKeyword != null ">
		<if test="searchKeyword != '' ">
			<where>
				(ingre.ingName LIKE #{searchKeyword} AND ingre.iRcpNo
				=re.rcp_no) OR
				re.rcp_title
				like '%${searchKeyword}%' OR
				re.nickname
				like
				'%${searchKeyword}%'
			</where>
			</if>
		</if>
		ORDER BY 
		
		<if test="searchCategory == 'newest'">
		re.rcp_date  DESC
		</if>
		<if test="searchCategory == 'inquiry' || searchCategory == null">
    re.rcp_cnt  DESC
    </if>
		)
		inner_table
		WHERE ROWNUM &lt;= #{endRowNum} ) inner ,recipes innerR
    	WHERE inner.rcp_no = innerR.rcp_no AND row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>

	<select id="getDefalutRecipeList" resultMap="RecipeSelectMap">
		SELECT
		inner.*
		FROM(
		SELECT
		inner_table.*, ROWNUM AS row_seq FROM
		(
		SELECT
		rcp_no,nickname, rcp_title,
		rcp_img_path,rcp_cont,
		rcp_cnt
		FROM recipes
		ORDER BY rcp_cnt  DESC
		)
		inner_table 
		WHERE ROWNUM &lt;= 51) inner
		WHERE row_seq BETWEEN 1 AND 50
	</select>

	<select id="getRecipeListIngredients" parameterType="int"
		resultMap="RecipeSelectMap">
		SELECT rcp_no, nickname, rcp_title, rcp_img_path, rcp_cont,
		rcp_tip,
		rcp_cnt, ingredients, rcp_date
		FROM recipes
		WHERE rcp_no =
		${value}
	</select>

	<select id="getIngredientsList" parameterType="java.util.List"
		resultType="int">
		SELECT inner.rcp_no FROM (SELECT rcp_no,count(*) AS firstRCP FROM
		rcp_ing
		WHERE ingredient_no IN (SELECT ingredient_no FROM ingredients
		WHERE
		ingredient_name IN
		<foreach item="item" collection="list" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
		) GROUP BY rcp_no ORDER BY firstRCP DESC)
		inner
	</select>

	<select id="getCheckIngredient" parameterType="search"
		resultType="int">
		SELECT ingredient_no FROM ingredients WHERE ingredient_name
		= '${searchKeyword}'
	</select>

	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM ( SELECT DISTINCT
		re.rcp_no
		FROM
		recipes re ,
		(SELECT 
		rc.RCP_NO iRcpNo,
		i.INGREDIENT_NAME ingName
		FROM
		ingredients i,
		rcp_ing rc
		WHERE i.INGREDIENT_NO =
		rc.INGREDIENT_NO )ingre
		<if test="searchKeyword != null ">
		<if test="searchKeyword != '' ">
		<where>
			(ingre.ingName LIKE #{searchKeyword} AND ingre.iRcpNo
			=re.rcp_no) OR
			re.rcp_title like '%${searchKeyword}%' OR
			re.nickname
			like
			'%${searchKeyword}%'
		</where>
		</if>
		</if>
		) countTable
	</select>
	
	<update id="updateRecipeCount" parameterType="int">
		UPDATE recipes
		set
		rcp_cnt=rcp_cnt+1
		WHERE rcp_no=#{value}
	</update>
</mapper>