<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

	<resultMap id="userSelectMap" type="user">
		<result property="nickname" column="nickname" jdbcType="VARCHAR" />
		<result property="email" column="email" jdbcType="VARCHAR" />
		<result property="password" column="password" jdbcType="VARCHAR" />
		<result property="userImage" column="user_img" jdbcType="VARCHAR" />
		<result property="joinDate" column="join_date" jdbcType="DATE" />
	</resultMap>

	<!-- SQL : INSERT -->
	<insert id="insertUser" parameterType="user">
		INSERT
		INTO users(  
		NICKNAME, 
		EMAIL , 
		PASSWORD , 
		USER_IMG , 
		JOIN_DATE,  
		FLAG
		) 
		VALUES( 
		#{nickname}, 
		#{email}, 
        #{password},
		null, 
		SYSDATE, 
		'N'
		)
	</insert>

	<select id="checkedEmail" parameterType="String" resultType="String">
		SELECT EMAIL
		FROM USERS
		WHERE EMAIL LIKE #{value}
	</select>

	<select id="checkedNickname" parameterType="String" resultType="String">
		SELECT NICKNAME
		FROM USERS
		WHERE NICKNAME LIKE #{value}
	</select>

	<select id="checkedLoginId" parameterType="user" resultType="String">
		SELECT EMAIL
		FROM USERS
		WHERE EMAIL LIKE #{email}
	</select>
	
	<select id="checkedLogin" parameterType="user"
		resultType="user">
		SELECT nickname , email , password , user_img , join_date ,FLAG
		FROM USERS
		WHERE EMAIL LIKE #{email} AND
		PASSWORD LIKE #{password}
	</select>
	
	<!-- SQL : SELECT ONE -->
	<select id="getUser" parameterType="string" resultMap="userSelectMap">
		SELECT
		nickname , email , password , user_img , join_date ,FLAG
		FROM
		users
		WHERE
		email LIKE #{value}
	</select>

	<update id="updatePassword" parameterType="user">
		UPDATE users
		<set>
			password = #{password}
		</set>
		WHERE email = #{email}
	</update>
	
	<update id="updateImage" parameterType="user">
		UPDATE users
		<set>
			user_img = #{userImage}
		</set>
		WHERE nickname = #{nickname}
	</update>

	<update id="deleteUser" parameterType="String">
    UPDATE users
    <set>
      FLAG = 'Y'
    </set>
    WHERE
    nickname = #{value}
  </update>
	
	<select id="getUserImage" parameterType="String" resultType="String">
		SELECT
		user_img
		FROM
		users
		WHERE nickname = #{value}
	</select>
</mapper>
